.download_promo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 103px 0 120px 0;
  position: relative;

  .margin{
    max-width: 219px;
    width: 100%;
    height: 1px;
  }

  &:after{
    content: '';
    width: calc(100% - 240px);
    height: 1px;
    background-color: #00000050;
    position: absolute;
    bottom: 0;
    left: 120px;
  }

  @media screen and (max-width: 1024px){
    padding: 73px 57px 85px 147px;
    .margin{
      max-width: 156px;
    }

    &:after{
      content: '';
      width: calc(100% - 150px);
      height: 1px;
      background-color: #00000050;
      position: absolute;
      bottom: 0;
      left: 120px;
    }
  }

  @media screen and (max-width: 900px){
    padding: 53px 47px 85px 127px;
    .margin{
      max-width: 116px;
    }

    &:after{
      content: '';
      width: calc(100% - 150px);
      height: 1px;
      background-color: #00000050;
      position: absolute;
      bottom: 0;
      left: 120px;
    }
  }

  @media screen and (max-width: 800px){
    padding: 53px 37px 85px 107px;
    .margin{
      max-width: 86px;
    }
  }

  @media screen and (max-width: 720px){
    margin-top: -50px;
    padding: 53px 27px 65px 57px;
    .margin{
      max-width: 46px;
    }
  }

  @media screen and (max-width: 600px){
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 66px 30px;
    margin-top: 66px;
    .margin{
      display: none;
    }
  }
}

.background{
  max-width: 371px;
  width: 100%;
  height: 625px;

  img{
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 1024px){
    max-width: 265px;
    height: 444px;
  }

  @media screen and (max-width: 600px){
    margin: 100px auto;
    max-width: 100%;
    height: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 170px;
      object-fit: contain;
    }
  }
}

.premium{
  max-width: 560px;
  width: 100%;
  height: 556px;
  order: -1;
  text-align: center;

  @media screen and (max-width: 1024px){
    max-width: 398px;
    height: 395px;
  }
}

.title{
  p{
    font-family: Poppins;
    font-weight: 700;
    font-size: 50.92px;
    line-height: 58px;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #18181B;
  }
  span{
    color: #6C5FBC;
  }

  @media screen and (max-width: 1024px){
    p{
      font-size: 36px;
      line-height: 41px;

    }
  }

  @media screen and (max-width: 600px){
    margin-top: 67px;
    p{
      font-size: 30px;
      line-height: 34px;
    }
  }
}

.list{
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;

  &_item{
    list-style-type: disc;
    color: #676767;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 30.5px;
    letter-spacing: 0;
  }

  @media screen and (max-width: 1024px){
    margin-top: 45px;
    row-gap: 18px;
    &_item{
      font-size: 15px;
    }
  }

  @media screen and (max-width: 850px){
    margin-top: 30px;
    &_item{
      font-size: 15px;
    }
  }

  @media screen and (max-width: 720px){
    margin-top: 20px;
    row-gap: 18px;
  }
  @media screen and (max-width: 600px){
    margin-top: 37px;
    row-gap: 18px;
  }
}

.btn{
  margin-top: 66px;
  border: none;
  outline: none;
  background-color: #6C5FBC;
  padding: 20px 26px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;

  &:active{
    opacity: 0.7;
  }

  div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
  }

  span{
    font-family: Poppins;
    font-weight: 500;
    font-size: 18.06px;
    line-height: 22.58px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #fff;
  }

  @media screen and (max-width: 1024px){
    padding: 15px 18px;
    margin-top: 60px;
    span{
      font-size: 13px;
      line-height: 16px;
    }
    div{
      column-gap: 10px;
    }
  }

  @media screen and (max-width: 850px){
    padding: 15px 18px;
    margin-top: 40px;
    span{
      font-size: 13px;
      line-height: 16px;
    }
    div{
      column-gap: 10px;
    }
  }
}