.download_promo{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 848px;
  padding: 0 96px;
  position: relative;
  background-image: url("../../../shared/assets/images/download-promo/mobile.png");
  background-repeat: no-repeat;
  background-size: 371px 625px;
  background-position: 200px 103px;

  &:after{
    content: '';
    width: calc(100% - 240px);
    height: 1px;
    background-color: #00000050;
    position: absolute;
    bottom: 0;

    @media screen and (max-width: 1024px){
      width: calc(100% - 120px);
    }
  }

  @media screen and (max-width: 1150px){
    background-position: 150px 103px;
  }

  @media screen and (max-width: 1100px){
    background-position: 80px 103px;
  }

  @media screen and (max-width: 1024px){
    padding: 0 65px;
    min-height: 605px;
    background-size: 264px 444px;
  }

  @media screen and (max-width: 800px){
    padding: 0 35px;
  }

  @media screen and (max-width: 650px){
    padding: 0 35px;
    background-position: 60% calc(100% -  20px);
    justify-content: center;
    align-items: flex-start;
    min-height: 815px;
  }
}

.premium{
  max-width: 520px;
  width: 100%;
  min-height: 555px;

  @media screen and (max-width: 1024px){
    max-width: 398px;
    min-height: 395px;
  }

  @media screen and (max-width: 800px){
    max-width: 298px;
    min-height: 295px;
  }

  @media screen and (max-width: 650px){
    max-width: 298px;
    min-height: 295px;
    margin-top: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.title{
  p{
    font-family: Poppins;
    font-weight: 700;
    font-size: 51px;
    line-height: 58px;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #18181B;
  }
  span{
    color: #6C5FBC;
  }

  @media screen and (max-width: 1024px){
    p{
      font-size: 36px;
      line-height: 41px;
    }
  }
  @media screen and (max-width: 800px){
    p{
      font-size: 26px;
      line-height: 21px;
    }
  }
}

.list{
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;

  &_item{
    list-style-type: disc;
    color: #676767;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 30.5px;
    letter-spacing: 0;
  }

  @media screen and (max-width: 1024px){
    margin-top: 45px;
    row-gap: 19px;

    &_item{
      font-size: 15px;
      line-height: 21px;
    }
  }

  @media screen and (max-width: 800px){
    margin-top: 35px;
    row-gap: 13px;

    &_item{
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.btn{
  margin-top: 66px;
  border: none;
  outline: none;
  background-color: #6C5FBC;
  padding: 20px 26px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;

  &:active{
    opacity: 0.7;
  }

  div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
  }

  span{
    font-family: Poppins;
    font-weight: 500;
    font-size: 18.06px;
    line-height: 22.58px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #fff;
  }

  @media screen and (max-width: 1024px){
    margin-top: 42px;
  }

  @media screen and (max-width: 650px){
    padding: 13px 17px;
    align-self: center;
  }
}