*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body{
  @font-face {
    font-family: 'Inter';
    src: url('../../../../public/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../../../public/assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../../../public/assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
}