.btn {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 17px 26px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 17.83px;
  line-height: 26.74px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #606060;
}

.active {
  background-color: #6C5FBC;
  border-radius: 18px;
  color: #f9f9f9;
}

@media screen and (max-width: 1024px){
  .btn{
    font-size: 13px;
    line-height: 19px;
    padding: 12px 19px;
  }
}

@media screen and (max-width: 600px){
  .btn{
    font-size: 10px;
    line-height: 14px;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 375px){
  .btn{
    display: none;
  }
}