.logo{
  max-width: 112px;
  width: 100%;
  height: 42px;
  cursor: pointer;

  img{
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .logo{
    max-width: 79px;
    width: 100%;
    height: 30px;
  }
}

@media screen and (max-width: 375px){
  .logo{
    flex: 1;
  }

  img{
    max-width: 112px;
    width: 100%;
    height: 42px;
  }
}