.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  position: relative;
  padding: 81px 96px;

  @media screen and (max-width: 1024px){
    padding: 57px 65px;
  }

  @media screen and (max-width: 600px){
    padding: 45px 35px;
  }

  @media screen and (max-width: 375px){
    max-width: 375px;
    padding: 55px 30px;
  }
}

.content{
  max-width: 1238px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 86px;
}

.up, .down{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.up{
  margin-top: 15px;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #81818125;
    bottom: -29px;
  }

  @media screen and (max-width: 1024px){
    margin-top: 3px;

    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #81818125;
      bottom: -20px;
    }
  }

  @media screen and (max-width: 450px){
    flex-direction: column;
    align-items: flex-start;
  }
}

.down{
  .copyright{
    font-family: Inter;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0;
    color: #999999;

    @media screen and (max-width: 1024px){
      font-size: 12px;
      line-height: 17px;
    }
  }

  .links{
    max-width: 234px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      width: 21px;
      height: 21px;
    }
  }

  @media screen and (max-width: 1024px){
    .copyright{
      font-size: 12px;
      line-height: 17px;
    }

    .links{
      max-width: 166px;

      img{
        width: 15px;
        height: 15px;
      }
    }
  }

  @media screen and (max-width: 450px){

    .copyright{
      margin: 0 auto;
    }

    .links{
      position: absolute;
      top: 12px;
      right: 0;
    }
  }
}


/*
.content:first-child{
  padding-top: 96px;
  padding-bottom: 29px;

  img{
    width: 150px;
    height: 57px;
  }



  @media screen and (max-width: 1024px){
    max-width: 880px;
    width: 100%;
    padding-top: 68px;
    padding-bottom: 20px;

    img{
      width: 107px;
      height: 40px;
    }

    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #81818125;
      bottom: -20px;
    }
  }

  @media screen and (max-width: 375px){
    max-width: 375px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    z-index: 1;
  }
}

.content:last-child{
  max-width: 1238px;
  width: 100%;
  padding: 57px 0 81px 0;

  .copyright{
    font-family: Inter;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0;
    color: #999999;
  }

  .list{
    display: flex;
    align-items: center;
    column-gap: 54px;

    li{
      a{
        text-decoration: none;
        img{
          width: 21px;
          height: 21px;
        }
      }
    }
  }

  @media screen and (max-width: 1024px){
    max-width: 880px;
    width: 100%;
    padding: 40px 0 57px 0;

    .copyright{
      font-size: 12px;
      line-height: 18px;
    }

    .list{
      li{
        a{
          img{
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 375px){
    max-width: 375px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    .copyright{
      width: 100%;
      position: absolute;
      bottom: -27px;
      text-align: center;
      background-color: #eaeaea;
      padding-bottom: 20px;
    }

    .social_links{
      position: absolute;
      top: 66px;
      right: 30px;
      z-index: 10;

      .list{
        column-gap: 20px;
      }
    }
  }
}

 */