.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

.content{
  max-width: 1238px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;

}

.content:first-child{
  padding-top: 96px;
  img{
    width: 150px;
    height: 57px;
  }

  .list{
    display: flex;
    align-items: center;
    column-gap: 70px;

    li{
      font-family: Inter;
      font-weight: 500;
      font-size: 17.83px;
      line-height: 26.74px;
      letter-spacing: 0%;
      text-transform: capitalize;
      color: #999999;
      cursor: pointer;
    }
  }

  &:first-child{
    padding-bottom: 29px;
  }

  &:first-child:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #818181;
    bottom: 0;
  }
}

.content:last-child{
  max-width: 1238px;
  width: 100%;
  padding: 57px 0 81px 0;

  .copyright{
    font-family: Inter;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0;
    color: #999999;
  }

  .list{
    display: flex;
    align-items: center;
    column-gap: 54px;

    li{
      a{
        text-decoration: none;
      }
    }
  }
}