.banner{
  width: 100%;
  min-height: 220px;
  background-image: url("../../../../shared/assets/images/hero/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 600px){
    min-height: 748px;
  }
}

.content{
  max-width: 942px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1024px){
    max-width: 670px;
  }

  @media screen and (max-width: 1024px){
    max-width: 570px;
  }

  @media screen and (max-width: 600px){
    max-width: 263px;
    height: 566px;
    flex-direction: column;
  }
}