.hero{
  width: 100%;
  min-height: 525px;
  background-image: url("../../../shared/assets/images/hero/hero.png");
  background-repeat: no-repeat;
  background-size: 650px 590px;
  background-position: right;
  padding: 0 96px;
  display: flex;

  @media screen and (max-width: 1100px){
    padding: 0 65px;
    background-size: 580px 507px;
  }

  @media screen and (max-width: 1024px){
    padding: 0 65px;
    background-size: 483px 431px;
  }

  @media screen and (max-width: 800px){
    padding: 0 35px;
    background-size: 420px 370px;
  }

  @media screen and (max-width: 600px){
    flex-direction: column;
    align-items: center;
    background-position: bottom;
  }
}
.content{
  max-width: 568px;
  width: 100%;
  margin-top: 140px;
  margin-bottom: 90px;

  @media screen and (max-width: 1100px){
    max-width: 503px;
    margin-top: 100px;
  }

  @media screen and (max-width: 1024px){
    max-width: 403px;
    margin-top: 90px;
  }

  @media screen and (max-width: 600px){
    max-width: 335px;
    margin-top: 60px;
    margin-bottom: 400px;
  }
}

.title_block{
  .up{
    margin-left: 74px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    text-box-trim: none;
    line-height: 120%;
    letter-spacing: 2px;
    color: #201F1F33;
    position: relative;

    &::before{
      content: '';
      width: 54px;
      height: 1px;
      position: absolute;
      background-color: #201F1F33;
      left: -74px;
      top: 8px;
    }
  }

  .title{
    margin-top: 18px;

    p{
      font-family: Poppins;
      font-weight: 600;
      font-size: 75px;
      text-box-trim: none;
      line-height: 120%;
      letter-spacing: -3px;
      span{
        color: #5C4EAE;
      }
    }
  }


  @media screen and (max-width: 1100px){
    .title{
      margin-top: 15px;
      p{
        font-size: 60px;
      }
    }
  }

  @media screen and (max-width: 1024px){
    .title{
      margin-top: 12px;
      p{
        font-size: 53px;
        letter-spacing: -2px;
      }
    }

    &::before{
      content: '';
      width: 38px;
      height: 1px;
      position: absolute;
      background-color: #201F1F33;
      left: -49px;
      top: 6px;
    }
  }

  @media screen and (max-width: 600px){
    .title{
      margin-top: 12px;
      p{
        font-size: 46px;
        letter-spacing: -2px;
      }
    }

    &::before{
      content: '';
      width: 38px;
      height: 1px;
      position: absolute;
      background-color: #201F1F33;
      left: -49px;
      top: 6px;
    }
  }
}

.description{
  margin-top: 16px;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  text-box-trim: none;
  line-height: 28px;
  letter-spacing: 0;
  text-align: justify;
  color: #676767;

  @media screen and (max-width: 1024px){
    font-size: 13px;
    margin-top: 12px;
    line-height: 20px;
  }

  @media screen and (max-width: 600px){
    font-size: 11px;
    margin-top: 12px;
    line-height: 17px;
  }
}

.btns{
  margin-top: 53px;
  max-width: 284px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button{
    outline: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16.27px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.4s;

    &:active{
      transform: scale(0.95);
    }
  }

  button:first-child{
    background-color: #6C5FBC;
    padding: 18px 30px;
    border: none;
    color: #fff;
  }

  button:last-child{
    padding: 18px 27px;
    background-color: transparent;
    border: 1px solid #6C5FBC;
    color: #6C5FBC;
  }

  @media screen and (max-width: 1024px){
    margin-top: 37px;
    max-width: 201px;

    button{
      font-size: 11px;
    }

    button:first-child{
      padding: 12px 21px;
    }
    button:last-child{
      padding: 12px 19px;
    }
  }

  @media screen and (max-width: 600px){
    margin: 41px auto;
  }
}