.hamburger_menu{
  display: none;
  position: relative;
}

.background {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 96px;

  @media screen and (max-width: 1024px){
    padding: 0 65px;
  }

  @media screen and (max-width: 800px){
    padding: 0 35px;
  }
}

.content{
  max-width: 1248px;
  width: 100%;
  align-content: center;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 48px;

  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cbcbcb ;
    bottom: -25px;
  }

  @media screen and (max-width: 1024px){
    padding-top: 34px;

    .content{
      max-width: 887px;

      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #cbcbcb ;
        bottom: -17px;
      }
    }
  }
}

.margin{
  max-width: 103px;
  width: 100%;


  @media screen and (max-width: 1150px){
    max-width: 50px;
  }

  @media screen and (max-width: 1024px){
    max-width: 73px;
  }

  @media screen and (max-width: 800px){
    max-width: 50px;
  }

  @media screen and (max-width: 600px){
    max-width: 30px;
  }
}


.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 9px;
}

@media screen and (max-width: 450px){

  .hamburger_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 31px;
    width: 100%;
    height: 22px;
    cursor: pointer;

    .level{
      display: block;
      width: 100%;
      height: 2px;
      background-color: black;
      border-radius: 18px;
    }
  }

  .content{
    max-width: 314px;
    justify-content: space-between;

    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #cbcbcb ;
      bottom: -30px;
    }
  }
}