.hamburger_menu{
  display: none;
  position: relative;
}

.background {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
}

.content{
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cbcbcb ;
    bottom: -25px;
  }
}

.margin{
  max-width: 103px;
  width: 100%;
}


.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 9px;
}

@media screen and (max-width: 1024px){
  .background{
    padding-top: 34px;
  }

  .margin{
    max-width: 73px;
  }

  .content{
    max-width: 887px;

    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #cbcbcb ;
      bottom: -17px;
    }
  }
}

@media screen and (max-width: 600px){
  .background{
    padding-top: 34px;
  }
  .margin{
    max-width: 40px;
  }
}

@media screen and (max-width: 450px) {
  .background {
    padding-top: 34px;
  }
  .margin {
    max-width: 15px;
  }
}

@media screen and (max-width: 375px){

  .hamburger_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 31px;
    width: 100%;
    height: 22px;
    cursor: pointer;

    .level{
      display: block;
      width: 100%;
      height: 2px;
      background-color: black;
      border-radius: 18px;
    }
  }

  .content{
    max-width: 314px;
    justify-content: space-between;

    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #cbcbcb ;
      bottom: -30px;
    }
  }
}